﻿.field-validation-error{
    color: #ff0000;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #ff0000;
}
.validation-summary-errors {
    color: #ff0000;
}
.valdidation-summary-valid {
    display: none;
}
body {
    text-align: center;
    background-image: url(https://www.thonhotels.no/siteassets/hoteller/norge/stavanger/stavanger-destinasjon.jpg?width=1100&height=550&mode=crop&quality=80);
    background-size: cover;
}

