﻿@model List<PGMOnline.Models.Supervisor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>
    <h2>Our Supervisors</h2>
    <br />
    @foreach (Supervisor supervisor in Model)
    {
        @supervisor.Id <b></b> @supervisor.Name <b> @supervisor.FieldOfScience</b>
        <hr/>
    }
    <a class="btn btn-primary" asp-action="SupervisorInfo">
        Click here to add new supervisors
    </a>
    <a class="btn btn-primary" asp-action="SfilteredSupervisors">
        Click here to show all the supervisors with a name starting with "S"
    </a>
</body>
</html>
