﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MySecondView</title>
</head>
<body>
    <div>
        <h2>@ViewBag.WelcomeMessage <br /></h2>
        <br />
        <h3>This is the current time and date: @ViewBag.Time <br /> </h3>
        <br />
        <a class="btn btn-primary" asp-action="AllSupervisors">
            Click here to see info on supervisors
        </a>
        <a class="btn btn-primary" asp-action="SupervisorInfo">
            Click here to add new supervisors
        </a>
        <br />
    </div>
</body>
</html>
