﻿@model List<PGMOnline.Models.Supervisor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SfilteredSupervisors</title>
</head>
<body>
    <h2>Our Supervisors</h2>
    <br />
    @foreach (Supervisor supervisor in Model)
    {
        @supervisor.Id <b></b> @supervisor.Name <b> @supervisor.FieldOfScience</b>
        <hr />
    }
    <a class="btn btn-primary" asp-action="AllSupervisors">
        Go back
    </a>
</body>
</html>
