﻿@model PGMOnline.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div>
        <form asp-action="SupervisorInfo" method="post">
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="Id">Supervisor Id:</label>
                <input asp-for="Id" />
            </p>
            <p>
                <label asp-for="Name">Supervisor Name:</label>
                <input asp-for="Name" />
            </p>
            <p>
                <label asp-for="FieldOfScience">Field of Science:</label>
                <input asp-for="FieldOfScience" />
            </p>
            <p>
                <label asp-for="YearsOfExperience">Years of Experience:</label>
                <input asp-for="YearsOfExperience" />
            </p>
            <button type="submit">Add</button>
        </form>
        <br/>
        <a class="btn btn-primary" asp-action="AllSupervisors">
            Click here to see info on supervisors
        </a>
    </div>
</body>
</html>
